<nav>
  <div class="nav-wrapper yellow lighten-2">
    <%= link_to "Handshake", root_path, class: "black-text brand-logo center" %>
    <!-- <a href="/main/index" class="black-text brand-logo center">Handshake</a> -->
  </div>
</nav>
